                                         /*base class*/

.dib { display: inline-block; }

.fl  { float: left; }

.fr  { float: right; }

.rel { position: relative; }

.mid { vertical-align: middle; }

.clear::after { content: '';
                clear: both;
                display: block; } 

.midle { width: 1600px ;
         margin: 0 auto;}

.after::after { content:'';
                width: 47px;
                height: 4px;
                float: right;
                clear: both;
                background-color: #FF7A00;
                margin-top: 5px;
                margin-left: 20px; }


                                       /*other class*/

body { padding-top: 120px; }

.header { width: 1600px;
          padding: 0px;
          background-color: #FFFFFF;
          position: fixed;
          top: 0px;
          left: auto;
          z-index: 99; }

.header-img { width: 134px;
              height: 90px;
              margin-top: 5px;
              margin-bottom: 25px;
              margin-left: 140px; }

.nav { width: 463px;
       height: 21px;
       margin-top: 48px;
       margin-bottom: 51px;
       margin-left: 123px; }

.li { font-size: 16px;
      font-family: 'Poppins Regular'; }

.li1,
.li2,
.li3,
.li4 { margin-left: 43px;
       font-size: 16px;
       font-family: 'Poppins Regular'; }

.section1,
.section1-img { width: 1600px;
                height: 382px; }

.section1-p1 { width: 320px;
               height: 30px;
               position: absolute;
               top: 104px;
               left: 663px;
               font-family: 'Poppins Regular';
               font-size: 22px;
               color: #FFFFFF; }

.section1-p2 { width: 250spx;
               height: 64px;
               position: absolute;
               bottom: 186px;
               left: 699px;
               font-family: 'Poppins Bold';
               font-size: 48px;
               color: #FFFFFF; }

.section2 { width: 1600px; }

.container { width: 1600px;
             height: 1810px; }

.container-h3 { width: 150px;
               height: 30px;
               margin-top: 83px;
               margin-left: 172px;
               font-family: 'Poppins Medium';
               font-size: 22px;
               color: #FF7A00; }

.container-box { width: 1324px;
                 height: 1485px;
                 margin: 0 auto; }

.big-box1 { width: 1324px;
            height: 672px;
            margin-top: 83px; }

.big-box2 { width: 1324px;
            height: 672px;
            margin-top: 58px; }

.box1,
.box2,
.box3,
.box4 { width: 636px;
        height: 672px; }

.box1-p1,
.box2-p1,
.box3-p1,
.box4-p1 { width: 589px;
           height: 94px;
           margin-top: 20px;
           font-family: 'Playfair Display Bold';
           font-size: 36px;
           color: #181C28; }

.box1-p2,
.box2-p2,
.box3-p2,
.box4-p2 { width: 636px;
           height: 81px;
           margin-top: 22px;
           font-family: 'Poppins Regular';
           font-size: 16px; }

 .box1-p3,
 .box2-p3,
 .box3-p3,
 .box4-p3 { width: 152px;
            height: 19px;
            color: #FF7A00;
            margin-top: 13px;
            font-family: 'Poppins Medium';
            font-size: 14px; }

.click { width: 190px;
         height: 70px;
         margin-top: 90px;
         background-color: #FF7A00;
         border-radius: 3px; }

.click-p { width: 94px;
           height: 21px;
           font-family: 'Poppins Regular';
           font-size: 16px;
           position: absolute;
           top: 50%;
           left: 50%;
           transform:translate(-50%,-50%);
           color: #FFFFFF; }


.section3-div { width: 1600px;
                height: 266px;
                background-color: #181C28; }

.footer { width: 1600px;
          height: 502px; }

.footer-box { width: 1324px;
              height: 350px;
              margin-top: 81px; }

.footer-h5-box { width: 1336px;
                 height: 32px;
                 color: #282828;
                 font-family: 'Poppins SemiBold';
                 font-size: 24px; }

.footer-h5-2 { margin-left: 200px; }

.footer-h5-3 { margin-left: 240px; }

.footer-h5-4 { margin-left: 230px; }

.footer-p-box { width: 1324px;
                height: 165px;
                margin-top: 17px;
                font-family: 'Poppins Regular';
                font-size: 16px;
                color: #7B7B7B; }

.h5-p-box2 { margin-left: 235px; }

.h5-p-box3 { margin-left: 230px; }

.h5-p-box4 { margin-left: 340px; }

.h5-1-p1,
.h5-1-p2,
.h5-1-p3,
.h5-1-p4,
.h5-1-p5,
.h5-2-p1,
.h5-2-p2,
.h5-2-p3,
.h5-2-p4,
.h5-2-p5,
.h5-3-p1,
.h5-3-p2,
.h5-3-p3,
.h5-3-p4,
.h5-3-p5 { padding-top: 36px;
           float: left;
           clear: both; }

.footer-img1 { width: 54px;
               height: 54px; }

.footer-img2 { width: 49.5px;
               height: 34.5px;
               margin-left: 14px; }

.footer-img3 { width: 54px;
               height: 34px;
               margin-left: 11.5px; }

.copyright { margin-bottom: 139px;
             margin-right: 164px; }